.coral{
    background: coral;
    height: 80vh;
    width: 80vw;
    margin-left: 10vw;
    margin-top: 10vh;
}

.green{
    background: green;
}

.purple{
    background: purple;
}

.blue{
    background: blue;
}